<h2>
  <img width="100px" src="{{flags.svg}}">
  </img>
</h2>
<p><span>Name: </span>{{name.official}}</p>
<p><span>Capital: </span>{{capital}}</p>
<p><span>Population: </span>{{population}}</p>
<p><span>Languages: </span>{{#each languages}} {{this}}{{/each}}</p>